<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      color: #343a40;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      /* background-image: url('https://th.bing.com/th/id/OIP.WnpdCDhyTKUXEWuAtzEMVgHaEK?rs=1&pid=ImgDetMain'); */
    }

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .container {
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      padding: 30px;
      margin: 20px;
      width: 100%;
      max-width: 600px;
      animation: fadeInUp 1s ease-out;
    }

    h1 {
      color: #111112;
      font-size: 2.5em;
      margin-bottom: 15px;
    }

    .text-muted {
      color: #6c757d;
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    .btn-secondary,
    .btn-info {
      margin-top: 15px;
    }

    div {
      line-height: 1.6;
      margin-top: 20px;
    }

    /* Optional: Add a subtle border to the container */
    .container {
      border: 1px solid #ddd;
    }

    /* Add animation to the container */
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Additional styling for a secondary box */
    .secondary-box {
      background-color: #f8f9fa;
      box-shadow: 0 0 15px rgba(211, 135, 135, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin: 15px;
      width: 60%;
      max-width: 400px;
    }
  </style>
  <title> Blog</title>
</head>
<body>
  <div class="main-container">
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <a href="/" class="btn btn-secondary">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

      <div>
        <%- article.sanitizedHtml %>
      </div>
    </div>

    
  </div>
</body>
</html>
